.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(188, 183, 183);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  background-color: rgb(235, 232, 232);
  width: 100%;
  max-width: 750px;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 10px;
}

.form-container h2 {
  font-size: 2rem;
}

.form-class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  width: 100%;
  max-width: 550px;
  padding: 1.5rem;
  border: 1px solid grey;
  border-radius: 10px;
  min-height: 30rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

.input-box input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.input-box p {
  font-size: 0.9rem;
  color: red;
  text-align: left;
}

.textarea-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

.textarea-box textarea {
  min-height: 150px;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
}

.textarea-box p {
  font-size: 0.9rem;
  color: red;
  text-align: left;
}

.form-class button {
  width: 100%;
  max-width: 200px;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.form-class button:hover {
  background-color: grey;
}