.profile-layout {
 display: grid;
 grid-template-columns: 1fr 9fr;
}

.sidebar {
  width: 100%;
  max-width: 200px;
  padding: 1.5rem;
}

.profile-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.profile-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.profile-details h2 {
  font-size: 2.5rem;
}

.details-image-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.details-image-div img {
  width: 100%;
  max-width: 350px;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.details p {
  background-color: rgb(225, 221, 221);
  color: black;
  padding: 1rem;
  width: 100%;
  max-width: 250px;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: left;
}

.personal-info-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.personal-info-div h3 {
  font-size: 1.5rem;
}

.personal-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.personal-info p {
  background-color: rgb(225, 221, 221);
  color: black;
  padding: 1rem;
  width: 200px;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: left;
}

.logout-btn {
  width: 100%;
  max-width: 250px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(222, 217, 217);
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background-color: rgb(157, 155, 155);
}

@media (max-width: 768px) {
  .details-image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .personal-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .profile-details h2 {
    font-size: 1.7rem;
  }

}


