.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 100%;
  max-width: 200px;
  padding: 1.5rem;
  border-right: 1px solid #ddd;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  gap: 2rem;
}

.page-title {
  font-size: 2rem;
}

.jobs-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.job-row {
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr 1fr auto;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.75rem 0;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
}

.job-row .remove-job {
  background-color: #f5f5f5;
  color: black;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.job-row .remove-job:hover {
  background-color: rgb(207, 199, 199);
}

@media (max-width: 768px) {
  .job-row {
    text-align: center;
  }

  .page-title {
    font-size: 1.5rem;
  }

  .layout {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .sidebar {
    border: none;
  }
}


