.nav-bar-links {
  position: relative;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hamburger-btn {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav-link {
  color: rgb(80, 77, 77);
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 768px) {
  .hamburger-btn {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    background: white;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .nav-links.isOpen {
    display: flex;
  }
}
