.dropdown {
  position: relative;
  width: 200px;  
}

.dropdown-btn {
  width: 100%;
  padding: 1rem;
  background-color: rgb(205, 205, 205);
  border: 2px solid black;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  max-width: 200px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  min-height: 100%;
  max-height: 200px;
  overflow-y: auto;    
}

.dropdown-item {
  padding: 0.6rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background: rgb(205, 205, 205);
}

.job-title-input {
  background-color: rgba(232, 226, 226, 0.43);
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  max-width: 250px;
  border: 2px solid black;
  border-radius: 10px;
}
